.offersSection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1vmax;
}
.offersSection img{ 
    margin: 0 2vmax;
    transition: all 0.5;


}
.offersSection img:hover{
    box-shadow: 6px 6px 10px rgba(53, 53, 53, 0.367);
}